services:
  postgres-primary:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    
  postgres-replica:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    depends_on:
      - postgres-primary